<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__CSS__/style.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <title>用户个人中心</title>
</head>
<body>
<h1>个人用户中心</h1>

<div class="container w3layouts agileits">

    <div class="login w3layouts agileits">
        <h2>用户中心</h2>



            <ul class="tick w3layouts agileits">
                <li><div><p class="p_left" align="left">昵称</p><a href="/index/user/changnickname"><p class="p_left" align="right">{$user.name}</p></a> </div></li>
                <hr>
                <li><div><p class="p_left" align="left">头像</p><a href="index/user/showimage"><img align="right" src="__STATIC__/images/11111.jpg"></a> </div></li>
                <hr>
            </ul>
            <div class="send-button w3layouts agileits">
                <a href="javascript:history.back(-1);" class="weui-btn weui-btn_mini weui-btn_warn">返回</a>
            </div>




        </div>
        <div class="clear"></div>
    </div>


    <div class="clear"></div>

</div>

</body>
</html>
